.info {
  margin-block-start: 1rem;
  --_gap: 0.875rem;

  @media (min-width: 64em) {
    flex: 1.75;
  }

  display: grid;
  gap: var(--_gap);

  padding-block-end: clamp(12rem, 50vi, 25rem);
  position: relative;
}

.info-group {
  display: grid;
  gap: calc(var(--_gap) / 2);
}

.heading {
  color: var(--secondary);
  font-size: clamp(0.875rem, 1.5vi, 1.1875rem);
  font-size: 600;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    color: black;
    text-decoration-color: transparent;
    transition: text-decoration-color 250ms;

    &:hover,
    &:focus {
      text-decoration-color: currentColor;
    }
  }
}

.avatar {
  position: absolute;

  translate: 20% 25%;

  bottom: 0;
  right: 0;
  z-index: -1;

  @media (min-width: 64em) {
    translate: 15% 32%;
  }

  img {
    height: clamp(22rem, 70vi, 35rem);
  }
}
