.hero {
  --_min-height: 22rem;
  --_max-height: 28rem;
  --_height: 25vi;

  min-height: var(--_min-height);
}

.image {
  object-fit: cover;

  width: 100%;
  height: 100%;

  object-position: center center;
}

.home-page {
  --_min-height: 31rem;
  --_max-height: 65rem;
  --_height: 40vi;

  /* margin-block-start: clamp(3.75rem, 6vi, 5rem); */
}
