.container {
  display: grid;
  gap: 1.75rem;
}

.heading {
  font-size: clamp(1.125rem, 1.5vi, 1.5rem);
}

.section {
  display: grid;
  gap: 0.5rem;

  > ol,
  > ul {
    padding: 0;
    margin: 0;

    list-style-position: inside;
  }
}
