@import "./reset.css";
@import "./fonts.css";

:root {
  --blue-1: #3392ff;
  --blue-2: #063f70;
  --blue-3: #005d8c;
  --blue-4: #cae9fc;
  --red: #bc2a2e;
  --white-1: #ffffff;
  --white-2: #fffef9;
  --grey-1: #212121;
  --grey-2: #303030;
  --grey-3: #161616;
  --black: #000000;

  /* primary shades */
  --primary: var(--blue-1);
  --primary-hover: hsl(from var(--primary) h s calc(l + 5));
  --primary-active: hsl(from var(--primary) h s calc(l - 5));
  --on-primary: var(--white-1);

  /* secondary shades */
  --secondary: var(--red);
  --secondary-hover: hsl(from var(--secondary) h s calc(l + 5));
  --secondary-active: hsl(from var(--secondary) h s calc(l - 5));
  --on-secondary: var(--white-1);

  /* button grey */
  --button-grey: var(--grey-2);
  --button-grey-hover: hsl(from var(--button-grey) h s calc(l + 5));
  --button-grey-active: hsl(from var(--button-grey) h s calc(l - 5));
  --on-button-grey: var(--white-1);

  color-scheme: light;
  caret-color: var(--primary);
  accent-color: var(--primary);

  /* social icons */
  --linkedin: #0077b5;
  --youtube: #ff0000;
  --twitterx: #333333;
  --facebook: #4867aa;
  --whatsapp: #25d366;
  --instagram: linear-gradient(
    #6559ca,
    #bc318f 30%,
    #e33f5f 50%,
    #f77638 70%,
    #fec66d 100%
  );
}

.text-blue {
  color: var(--blue-2);
}

input::placeholder {
  color: hsl(from var(--black) h s l / 0.4);
}

body {
  background-color: var(--blue-4);
  color: var(--grey-1);
  background-image: url("/snow-bg.svg");
  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-page {
  display: grid;
  gap: 4rem;
  margin-block-end: clamp(2rem, 2.5vi, 2.5rem);
}

.gallery-page,
.terms-and-conditions-page {
  display: grid;
  gap: 2.5rem;
  margin-block-end: clamp(2rem, 3vi, 3rem);
}

.about-us-page {
  display: grid;
  gap: 2.5rem;

  margin-block-end: clamp(3rem, 4vi, 4rem);
}

.activities-page {
  display: grid;
  gap: 3.75rem;

  margin-block-end: clamp(2rem, 10vi, 10rem);

  @media (min-width: 48rem) {
    gap: 4.5rem;
  }
}

[data-font="snow"] {
  font-family: "Snow", "Satoshi", "Poppins", sans-serif;
  color: var(--blue-2);
}

[data-font="satoshi"] {
  font-family: "Satoshi", "Poppins", sans-serif;
}

h2 {
  font-size: clamp(2rem, 2.5vi, 2.5rem);
  text-align: center;
  line-height: 2.25rem;
}
