.info {
  display: flex;
  gap: clamp(1.5rem, 2vi, 1.75rem);
  flex-direction: column;

  @media (min-width: 48rem) {
    flex-direction: row-reverse;
  }
}

.heading {
  display: none;
  font-size: 1.25rem;
  font-weight: 500;

  @media (min-width: 48rem) {
    display: block;
  }
}

.content {
  flex: 1;

  font-size: clamp(0.875rem, 1.25vi, 1rem);

  display: grid;
  gap: clamp(1.125rem, 1.5vi, 1.375rem);
}

.image {
  flex: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
